.cursor/skills/sf-flow/assets/record-triggered-after-save.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <!--
    Template: Record-Triggered Flow (After-Save) v2.0.0
    API Version: 65.0+

    IMPORTANT: This template follows strict alphabetical element ordering required by Salesforce Metadata API
    Elements MUST be in this order: apiVersion, assignments, decisions, description, label, processType, recordUpdates, start, status, variables

    Note: bulkSupport element is DEPRECATED in API 60.0+ and should NOT be used
    Modern flows are automatically bulkified by Salesforce

    AUTO-LAYOUT: All locationX and locationY are set to 0 for Auto-Layout
    Benefits: Cleaner version control, easier code reviews, no coordinate noise in diffs
    Salesforce will automatically position elements optimally

    ═══════════════════════════════════════════════════════════════════════════════
    BEST PRACTICE: Using $Record in Record-Triggered Flows (v2.0.0)
    ═══════════════════════════════════════════════════════════════════════════════

    The $Record global variable gives you direct access to all fields on the triggering record.
    USE $Record INSTEAD OF querying the same object that triggered this flow!

    CORRECT - Use $Record directly:
        {!$Record.Name}
        {!$Record.AccountId}
        {!$Record.Status}

    INCORRECT - Querying the trigger object (wastes SOQL):
        <recordLookups>
            <object>Account</object>  <- Same as trigger object!
            <filters>
                <field>Id</field>
                <value>{!$Record.Id}</value>
            </filters>
        </recordLookups>

    WHEN TO QUERY:
    - Related records (parent/child objects): Query is required
    - Multiple records of same type: Query is required
    - Records not related to $Record: Query is required

    For UPDATE triggers only, $Record__Prior gives previous field values:
        {!$Record__Prior.Status} - Value BEFORE the update
        {!$Record.Status} - Value AFTER the update

    WARNING: $Record__Prior is ONLY available when recordTriggerType is Update or CreateAndUpdate.
    NEVER use $Record__Prior in Create-only or Delete triggers!

    VARIABLE NAMING (v2.0.0):
    - var_ for regular variables (e.g., var_ErrorMessage)
    - col_ for collections (e.g., col_ContactIds)
    - rec_ for record variables (e.g., rec_ParentAccount)
    - inp_ for input variables (e.g., inp_RecordId)
    - out_ for output variables (e.g., out_IsSuccess)
    ═══════════════════════════════════════════════════════════════════════════════
    -->

    <apiVersion>65.0</apiVersion>

    <!-- Assignment: Process Record -->
    <assignments>
        <name>Action_Process_Record</name>
        <label>Process Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.{{TARGET_FIELD}}</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{{NEW_VALUE}}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>

    <!-- Error Handler Assignment -->
    <assignments>
        <name>Error_Handler</name>
        <label>Handle Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <!-- Decision: Check Entry Criteria -->
    <decisions>
        <name>Decision_Check_Criteria</name>
        <label>Check Entry Criteria</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Criteria_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <!-- BEST PRACTICE: Use $Record fields directly - no query needed! -->
                <leftValueReference>$Record.{{FIELD_NAME}}</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>{{FIELD_VALUE}}</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Process_Record</targetReference>
            </connector>
            <label>Criteria Met</label>
        </rules>
    </decisions>

    <description>{{FLOW_DESCRIPTION}}</description>
    <label>{{FLOW_LABEL}}</label>
    <processType>AutoLaunchedFlow</processType>

    <!-- Update Records with Fault Path -->
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Handler</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>

    <!-- Trigger Configuration -->
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>{{OBJECT_NAME}}</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Decision_Check_Criteria</targetReference>
        </connector>
    </start>

    <status>Draft</status>

    <!-- Variables for Error Handling (v2.0.0 naming) -->
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
